POSTGRES_USER=  postgres_user
POSTGRES_PASSWORD=
POSTGRES_DB=dabase_name
POSTGRES_PORT=5432


# n8n Configuration
N8N_PORT=5678
N8N_ENCRYPTION_KEY=GenerateASecureRandomStringHere
# Set to true if you're deploying live behind an SSL proxy, false for localhost testing
N8N_SECURE_COOKIE=false

# Evolution API Configuration

REDIS_PORT=6379